<div class="sidebar">
 <div class="sidebar-section">
    <h5><span>Search</span></h5>
     {% include search.html %}
  </div>
  <div class="sidebar-section">
    <h5><span>Stay Connected on</span></h5>
    <ul style="list-none;">
      <li><a href="https://www.facebook.com/rajutalukder70" target="_blank"><i class="fab fa-facebook"></i>  Facebook</a></li>
      <li><a href="#" target="_blank"><i class="fab fa-twitter"></i>  Twitter</a></li>
      <li><a href="https://linkedin.com/in/rajutalukder" target="_blank"><i class="fab fa-linkedin"></i>  Linkedin</a></li>
      <li><a href="https://github.com/Raju-Talukder" target="_blank"><i class="fab fa-github"></i>  Github</a></li>
    </ul>
  </div>
</div>
