<div class="sidebar">
 <div class="sidebar-section">
    <h5><span>Search</span></h5>
     {% include search.html %}
  </div>
  <div class="sidebar-section">
    <h5><span>Useful Links</span></h5>
    <ul style="list-none;">
      <li><a href="https://www.facebook.com/rajutalukder70" target="_blank"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="#" target="_blank"><i class="fab fa-github"></i></a></li>
    </ul>
  </div>
</div>
